
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  #messages li {
    padding: 5px 10px;
  }

  #messages li:nth-child(odd) {
    background: #0ce0b9;
  }

  /* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Server-side specific styles */
.server-side {
    background-color: #4CAF50; /* Green background */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Client-side specific styles */
.client-side {
    background-color: #f0f0f0; /* Light gray background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

h1,h5{
    text-align: center;
    color: #333;
}
.icon{
    text-align: center;
    
}

#messages {
    list-style-type: none;
    padding: 0;
    max-height: 300px; /* Limit height to prevent overflow */
    overflow-y: auto; /* Enable vertical scrolling */
}

#messages li {
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}

#messages li:nth-child(even) {
    background-color: #e0e0e0;
}

#form {
    margin-top: 20px;
    display: flex;
}

#input {
    flex: 1; /* Take up remaining space */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* semi-transparent white overlay */
    z-index: 9999; /* ensure it's on top of everything */
    pointer-events: none; /* allow clicks to pass through */
    text-align: center;
    padding-top: 20%;
    font-size: 15px;
    color: red;
    opacity: 0.5;
}